/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* body rules */
body {
	font-family: $defaultFont;
	margin: 0;
	padding: 0;
}

/*----MAIN----*/

/*------NAVIGATION------*/
#navWrapper {
	background-color: $primaryColor;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
	
}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
nav li {
	font-family: 'Avenir Next', sans-serif;
	list-style-type: none;
	font-weight: 600;
	font-size: 18px;
}
nav li.active {
	background-color: darken($secondaryColor, 40%);
}
nav a {
	display: block;
	padding: 1.5rem .5rem; /*44px min*/
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	background-color: lighten($primaryColor, 5%);
}

/*-----WELCOME SECTION------*/
#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f2f2f2;
	text-align: center;
	height: 100vh;

	h1 {
		color: $primaryColor;
		font-weight: $boldWeight;
		font-size: 72px;
		margin: 0;
		padding: 0;
	}
	h2 {
		font-weight: $normalWeight;
		font-size: 24px;
	}
}
/*-----ABOUT-----*/
#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #230007;
	color: #f2f2f2;
	height: 100vh;
	padding: 5%;
	p {
		font-size: 24px;
		font-weight: $normalWeight;
	}
}
/*----MY WORK-----*/
#myWork {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #f2f2f2;
	h3 {
		color: #333;
		font-size: 32px;
		margin: 30px 0 2%;
	}
}
/*----PROJECTS----*/
.projects {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	width: 100%;
	margin: 0;
	padding: 15px;
	font-weight: $normalWeight;
	.projectImage {
		width: 100%;
	}
	a {
		color: #f2f2f2;
		display: block;
		text-decoration: none;
		background-color: $primaryColor;
	}
}
/*--------CONTACT---------*/
#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #230007;
	color: #f2f2f2;
	text-align: center;
	height: 100vh;

	h3{
		font-size: 32px;
		margin: 30px 0 2%;
	}

	.fab {
		font-size: 5rem;
		margin: 10px;
		padding: 0;
		color: #f2f2f2;
	}
	
	a{
		text-decoration: none;
	}
	.fab:hover {
		color: #eee;
		text-shadow: 1px 1px 10px lighten($primaryColor, 5%);
		transform: translateY(8px);
		transition: transform 0.3s ease-out;
	}
}

/*------FOOTER------*/
#footerWrapper {
	clear: both;
	background-color: $primaryColor;
	color: #f2f2f2;
	text-align: center;
	padding: 1rem 2%;
	position: relative;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
