/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* body rules */
body {
	margin: 0;
	padding: 0;
}

/*----MAIN----*/


/*------NAVIGATION------*/
#navWrapper{
	background-color: darken($primaryColor, 30%);
	display: flex;
	justify-content:flex-end;
	position:fixed;
	color: #f2f2f2;
	top:0;
	left: 0;
	width: 100%;
	z-index: 10;
}
nav ul {
	margin: 0;
	padding: 5vw;
}
nav li {
	list-style-type: none;
}
nav li.active {
	background-color: darken($secondaryColor, 40%);
}
nav a {
	display: block;
	padding: .8rem 0; /*44px min*/
	color: #eee;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	background-color: lighten($primaryColor, 30%);
}


/*------FOOTER------*/
#footerWrapper {
	clear: both;
	background-color: lighten($primaryColor,10%);
	color: #fff;
	text-align: center;
	padding: 1rem 2%;
	position: relative;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
