$primaryColor: #740000;
$secondaryColor: lighten(#740000, 5%);
$fontColor: #35373a;
$accent: #2e3338; 

$defaultFont: 'Avenir Next', sans-serif;
$normalWeight:400;
$boldWeight:700;

$gutter: .5vw;
