@media only screen and (min-width: 1028px) {
    header, nav, main, footer, form .search-form {
        max-width: 64rem;
        margin:auto;
}
    
    
    
    nav ul {padding-left: 2%;}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
    
    main figure { width: 31%;}
    
    div.news {column-count: 3;}
} /* end of media query */

/*----------------------------MAIN---------------------------*/
main{
/*---COLUMNS---*/
@for $i from 0 through 12{
    $w:($i/12)*100%;
    .large-#{$i}
    {flex-basis: $w;}
} //end loop
.jumbotron{
    p {font-size: 400%;}
    
}

}