@media only screen and (min-width: 560px) {
    nav li {width: 25%; float: left;}
    
    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
    
} /* end of media query */

/*----------------------------MAIN---------------------------*/
main { 
/*---COLUMNS---*/
@for $i from 0 through 12{
    $w:($i/12)*100%;
    .medium-#{$i}
    {flex-basis: $w;}
} //end loop

.jumbotron{
    p{font-size: 300%;}
}
.social{
    font-size: 4rem;
}

} // end main