/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

/*----------- HEADER --------------*/
.headerWrapper {
	padding: .5rem 2%;
	background-color: #461220;
}
header h1 {
	margin: 0;
	color: #f2f2f2;
	text-align: center;
}

/*----------- NAVIGATION --------------*/
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
}
nav ul {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}
nav ul li {
	flex-basis: 33.3%;
}
nav ul li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #461220;
	color: #eee;
	border-left: 1px solid #777;
	font-size: .8rem;
	width: 100%;
}

nav ion-icon{
	font-size: 2rem;;
}
nav ul li:first-child a {
	border-left: none;
}

nav ul li a:hover {
	background-color: #eee;
	color: #333;
}
nav ul li.active a {
	background-color: #8c2f39;
	color: #fff;
}
/*----------- MAIN --------------*/
main {
	margin: 0;
	padding: 0;
	min-height: 10rem;

	h1{
		color: #8c2f39;
	}
}


/*-------- FIGURE --------*/
#myCards {
		
	figure {
		margin: 0;
		width: 100%;
		position: relative;
		img {
			width: 100%;
		}
		figcaption {
			position: absolute;
			bottom: 2px;
			background-color: rgba(0, 0, 0, 0.4);
			width: 100%;
			padding: .5rem 2vw;
			color: white;
		}
	}
}

section{
	margin: .5rem;
	background-color: #b23a48;
	
}

#myCards {
	display: grid;
	grid-template-columns: 1fr;
}

div section span{
	display: block;
	justify-self: center;
	padding: 10px 0 10px .2rem;
	block-size: 70px;
}
 div ion-icon{
	float: left;
	font-size: 1.5rem;
}

 p{
	margin: 0;
	padding-left: 1.6rem;
	font-size: 12px;
}

.infoWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
