/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----BODY----*/
body{
    font-family: 'Avenir Next', sans-serif;
}

/*---HEADER----*/
#headerWrapper{
    background-color: #f2f2f2;
}
header{
    padding: 10px 2%;
    img {
        float: left;
        height: 70px;
    }
    h1{
        padding: 0;
        margin: 0;
        font-size: 42px;
        color: #5377a0cc;
    }
    h2{
        padding: 0;
        margin: 0;
        font-size: 18px;
        color: #2d353fcc;
    }
    
}
/*----NAVIGATION----*/
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #f2f2f2;
}
#navWrapper{
    background-color: #5377a0cc;
}
nav{
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul li a{
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: rgba(242, 242, 242, 0.8);
        border-top: 1px solid rgba(0,0,0, 0.3);
    }

    ul li.active a{
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    ul li a:hover{
        background-color: rgba(0, 0, 0, 0.4);
    }

    ul.hide{
        display: none;
    }
}

/*----MAIN----*/
main{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0 2%;
    h1{
        margin: 0;
        padding: 20px 0;
        font-weight: 600;
        font-size: 32px;
        color: #2d353fcc;
    }
}
/*----DIVS----*/
.storyGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 20px;
    span{
        display: block;
        text-align: center;
        font-size: .75rem;
    }
    .teaser, .lead{
        padding: .5rem 2vw;
    }
    .teaser img, .lead img{
        width: 100%;
    }
    .lead{
        grid-column: 1/span 2;
    }
}
/*-----DIVS-----*/
.sections{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    line-height: 1.5;
}
.footerColumn{
    display: block;
    text-align: left;
    margin: 0;
}

/*----FOOTER----*/
#footerWrapper {
    clear: both;
    background-color: #5377a0cc;
    color: #fff;
    text-align: center;
    padding: 1rem 5%;
    position: relative;

    h4{
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul li a{
        white-space: nowrap;
        text-decoration: none;
        color: #f2f2f2;
        font-size: 14px;
    }

    p{ 
        text-align: center;
        font-size: 14px;
    }
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }  