/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav{
ul{
    margin: 0 0 0 2vw;
    padding: 0;
}

ul>li{
    float: left;
    list-style: none;
    border-left: 1px solid rgba(0,0,0,0.2);
}

ul li a{
    display: block;
    background: none;
    font-size: .9em;
    padding: .9em .9em;
    color: #333;
    text-decoration: none;

    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

ul li  a:hover{
    background: #1e613d;

}

#primaryNav li.parent>a::before{
    font-size: .75rem;
    content: "\25BC";
    color: violet;
}

ul li ul{
    z-index: 998;
    position: absolute;
    background-color: tomato;
    left: -999em;
    width: 12em;
}

ul li ul li{
    float: none;
    border: none;
    border-top: solid 1px rgba(0,0,0,0.2);
}

ul li:hover ul{
    left: auto;
    margin-left: 0;
}

li.active a{
    background-color: rgba(0,0,0,0.2);
}

/*----------- MAIN --------------*/
form label.sbs{
    padding: .4rem 0;

}
}

/*----------- FOOTER --------------*/
    
} /* end of media query */