header,
nav,
main,
footer {
        max-width: 64rem;
        margin: auto;

        .info{
                flex-basis: 25%;
                padding: .5rem 1%
            }
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/
nav ul li {
        flex-basis: auto;
}

/*----------- MAIN --------------*/

.gallery{
	display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
}

/*----------- FOOTER --------------*/
