/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----BODY----*/
body {
    font-family: "Mulish", sans-serif;
    background-color: #f2f2f2;
}

/*---HEADER----*/

/*----NAVIGATION----*/
nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #a8a8b2;
}
nav { 

    nav button {
        margin: 0.2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: black;
    }

    ul {
        list-style-type: none;
        padding-left: 1.6rem;
        margin: 0;
    }

    ul li a {
        text-decoration: none;
        color: #a8a8b2;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
    }
    ul li.active a {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    ul li a:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

/*----MAIN----*/




/*----FOOTER----*/
#footerWrapper {

    footer {
        padding: 10px 2%;
    }
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
